@use '../base/variables' as v;
.testimonial{
    background-color: v.$colorTestimonial;
    font-size: 2.4rem;
    padding: 5rem;
    color: v.$blanco;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.75);
    blockquote{
        margin: 0;
        padding-left: 4rem;
        position: relative;
        &:before{
            content: '';
            background-image: url('../img/comilla.svg');
            background-repeat: no-repeat;
            width: 10rem;
            height: 9rem;
            display: block;
            position: absolute;
            left: -5rem;
            top: -5rem;
        }
        &::after{
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            bottom: -7rem;
            border-left: 2rem solid transparent;
            border-right: 2rem solid transparent;
            border-top: 2.5rem solid v.$colorTestimonial;
            border-bottom: none;
        }
    }
    p{
        text-align: right;
        color: v.$blanco;
    }
    
}
.testimonial-persona{
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    picture{
        width: auto;
    }
    img{
        width: 7.5rem;
        border-radius: 50%;
        border: .5rem solid v.$grisOscuro; ;
    }
}